* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

*::selection {
    color: #fff;
    background-color: #000;
}

@font-face {
    font-family: 'a';
    src: url('/static/images/Gilroy-Light.otf') format('opentype');
}

@font-face {
    font-family: 'b';
    src: url('/static/images/HelveticaNowText-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'c';
    src: url('/static/images/Futura-Bold.ttf') format('truetype');
}


#nav {
    width: 100%;
    position: fixed;
    z-index: 9;
    padding: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#nav #nav-left{
    width: 100;
}

#nav #nav-left img{
    position: absolute;
    height: 140px;
    filter: brightness(2) invert(0);
}

#nav #nav-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#nav #nav-right #nav-icons a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-weight: 100;
    font-size: 13px;
    margin-right: 50px;
    font-family: b;
}

#nav #nav-right #nav-links a {
    text-decoration: none;
}

#nav-links {
    padding: 10px 0;
    border-radius: 50px;
    background-color: #fff;
}

#nav #nav-right #nav-links i {
    font-size: 15px;
    color: #000;
    margin: 0 23px;
}


#sidebar {
    position: fixed;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: a;
    right: -750px;
    top: 1vw;
    width: 750px;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    color: #fff;
    box-shadow: -3px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease;
    z-index: 1000;
    overflow-y: auto;
}

#sidebar .sidebar-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 2.9vw;
    height: 300px;
    width: 350px;
}

#sidebar .sidebar-content img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#sidebar .sidebar-content #dets{
    height: 40px;
    width: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    font-family: a;
    bottom: 9%;
    z-index: 9;
}

#sidebar .side-content {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    margin-top: 2.9vw;
    height: 300px;
    width: 300px;
}

#sidebar .side-content #dets{
    height: 40px;
    width: 60%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    font-family: a;
    bottom: 8%;
    z-index: 9;
}

#sidebar .side-content #dets a{
    color: #fff;
    text-decoration: none;
}

#sidebar .side-content img{
    height: 100%;
    width: 100%;
    object-fit: fill;
}

#sidebar #close-btn {
    position: absolute;
    top: 2px;
    left: 0px;
    border: none;
    background: none;
    color: #fff;
    padding: 5px 15px;
    font-size: 24px;
    cursor: pointer;
}


/* When sidebar is visible */
#sidebar.show {
    right: 0;
}


#cursor {
    height: 150px;
    width: 150px;
    background-color: rgba(174, 174, 174, 0.789);
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%)scale(0);
}


@media (max-width: 1024px ) {
    #nav #nav-right #nav-icons a {
        font-size: 2vw;
        margin-right: 1.5vw;
    }

    #sidebar {
        height: 1100px;
        padding: 5vw;
    }
}

@media (max-width: 768px ) {
    #nav #nav-right #nav-icons a {
        font-size: 3.8vw;
        margin-right: 2vw;
    }

    #sidebar {
        width: 700px;
        height: 800px;
        padding: 6vw;
    }
}

#page1 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding-left: 1.6vw;
    padding-top: 30vh;
}

#home-div {
    position: absolute;
    height: 300px;
    width: 450px;
    background-color: #000;
    margin-top: 8vw;
    margin-left: 67vw;
}

#home-div video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page1 h1{
    font-size: 16.1vw;
    font-family: c;
    line-height: 14vw;
    letter-spacing: -8px;
}

#video-container {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    width: 98%;
    margin-top: 1vw;
    margin-left: .2vw;
}

#video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#video-container .container1 {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 350px;
    width: 900px;
    font-family: c;
    gap: 15px;
}

#video-container .container1 h2{
    font-size: 2.4vw;
    color: #fff;
}

#video-container .container1 h3{
    font-size: 1.6vw;
    color: #fff;
}

#video-container .container1 a button{
    font-size: 1.2vw;
    padding: 15px 40px;
    margin-top: 2vw;
}



@media (max-width: 1024px) {

    #home-div {
        height: 410px;
        width: 510px;
        margin-top: 28vw;
        margin-left: 95vw;
    }

    #page1 {
        width: 150vw;
    }

    #page1 h1 {
        font-size: 15vw;
        letter-spacing: -5px;
    }

    #video-container {
        margin-top: 3vw;
    }
}



@media (max-width: 768px) {

    #home-div {
        height: 280px;
        width: 410px;
        margin-top: 23vw;
        margin-left: 105vw;
    }

    #page1 {
        width: 215vw;
    }

    #page1 h1 {
        font-size: 15vw;
        letter-spacing: -5px;
    }

    #video-container {
        margin-top: 3vw;
    }

    #video-container .container1 h2{
        font-size: 3.1vw;
        color: #fff;
    }
    
    #video-container .container1 h3{
        font-size: 2.9vw;
        color: #fff;
    }
    
    #video-container .container1 a button{
        font-size: 3.1vw;
        padding: 10px 28px;
    }
}




@media (max-width: 390px) {

    #home-div {
        height: 250px;
        width: 400px;
        margin-top: 22vw;
        margin-left: 105vw;
    }

    #page1 {
        min-height: 70vh;
        width: 250vw;
    }

    #page1 h1 {
        font-size: 15vw;
        letter-spacing: -5px;
    }

    #video-container {
        margin-top: 3vw;
    }

    #video-container .container1 h2{
        font-size: 3.6vw;
        color: #fff;
    }
    
    #video-container .container1 h3{
        font-size: 3.4vw;
        color: #fff;
    }
    
    #video-container .container1 a button{
        font-size: 3.9vw;
        padding: 10px 28px;
    }
}



#page2 {
    position: relative;
    height: 120vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    padding-top: 6vw;
}

#page2 .elem {
    height: 100%;
    width: 32.5%;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
}

#page2 .elem img {
    height: 100%;
    width: 100%;
    scale: 1;
    object-fit: cover;
    background-position: center;
}

#page2 .elem #dets {
    height: 55px;
    width: 60%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 10px;
    font-family: a;
    bottom: 15%;
    z-index: 9;
}

#page2 .elem #dets a{
    text-decoration: none;
    font-size: 1.3vw;
    color: #fff;
    cursor: pointer;
}

#page2 .elem .dets1 {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
}

#page2 .elem .dets2 {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
}

#page2 .elem .dets3 {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
}

@media (max-width: 1024px) {
    #page2 {
        width: 150vw;
        height: 100vh;
        margin-top: -5vw;
    }
}

@media (max-width: 768px) {
    #page2 {
        height: 80vh;
        width: 215vw;
        margin-top: -2vw;
    }

    #page2 .elem #dets a{
        font-size: 3.5vw;
    }
}

@media (max-width: 390px) {
    #page2 {
        height: 90vh;
        width: 250vw;
        margin-top: -2vw;
    }

    #page2 .elem #dets a{
        font-size: 4.1vw;
    }
}

#page3 {
    min-height: 120vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#page3 #caption {
    height: 28vh;
    width: 85%;
    background-color: #000;
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page3 #caption h2 {
    font-size: 6vw;
    font-family: a;
    line-height: 4vw;
    letter-spacing: -4px;
    color: #fff;
}

#page3 .child {
    margin-top: 5%;
    height: 55vh;
    width: 40vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page3 .child img {
    height: 100%;
    width: 60%;
    object-fit: cover;
}

#page3 .child #dets {
    height: 40px;
    width: 25%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 10px;
    font-family: a;
    bottom: 15%;
    z-index: 9;
}

#page3 .child #dets a{
    text-decoration: none;
    font-size: 1.1vw;
    color: #fff;
    cursor: pointer;
}

#page3 .child #dets a i {
    padding-left: 10px;
}

#page3 .child .dets1 {
    background: rgba(7, 7, 7, 0.3);
    backdrop-filter: blur(2px);
}


@media (max-width: 1024px) {
    #page3 {
        width: 150vw;
        margin-top: 4vw;
    }

    #page3 #caption {
        width: 95%;
    }

    #page3 #caption h2{
        font-size: 9vw;
        letter-spacing: -2px;
    }

    #page3 .child {
        width: 50%;
    }

    #page3 .child #dets a {
        font-size: 2.5vw;
    }

}

@media (max-width: 768px) {
    #page3 {
        width: 215vw;
        margin-top: 2vw;
        flex-direction: column;
    }

    #page3 #caption {
        width: 99%;
    }

    #page3 #caption h2{
        font-size: 10vw;
        letter-spacing: -1px;
    }

    #page3 .child {
        width: 98%;
    }

    #page3 .child #dets a {
        font-size: 3.5vw;
    }
}

@media (max-width: 390px) {
    #page3 {
        width: 250vw;
        margin-top: 2vw;
        flex-direction: column;
    }

    #page3 #caption {
        width: 99%;
    }

    #page3 #caption h2{
        font-size: 12vw;
        letter-spacing: -1px;
    }

    #page3 .child {
        height: 70vh;
        width: 98%;
    }

    #page3 .child #dets a {
        font-size: 4.1vw;
    }
}


#page4 {
    position: relative;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page4-inner {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 98%;
    margin-top: 2vw;
    background-color: #f7f7f7;
}

#page4-inner #inner-up {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 160px;
    width: 98%;
    font-family: a;
    margin-left: 1vw;
    border-bottom: 2px solid #7b8487;
}

#page4-inner #inner-up .inner-box1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 32%;
    gap: 25px;
}

#page4-inner #inner-up .inner-box1 h2 {
    font-size: 1.3vw;
}

#page4-inner #inner-up .inner-box1 a {
    text-decoration: none;
    font-size: 1vw;
    color: #7b8487;
}

#page4-inner #inner-up .inner-box1 a i{
    color: #000;
}

#page4-inner #inner-up .inner-box2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 32%;
    gap: 25px;
}

#page4-inner #inner-up .inner-box2 h2 {
    font-size: 1.3vw;
}

#page4-inner #inner-up .inner-box2 a {
    text-decoration: none;
    font-size: 1vw;
    color: #7b8487;
}

#page4-inner #inner-up .inner-box2 a i{
    color: #000;
}

#page4-inner #inner-up .inner-box3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 32%;
    gap: 25px;
}

#page4-inner #inner-up .inner-box3 h2 {
    font-size: 1.3vw;
}

#page4-inner #inner-up .inner-box3 a {
    text-decoration: none;
    font-size: 1vw;
    color: #7b8487;
}

#page4-inner #inner-up .inner-box3 a i{
    color: #000;
}

#page4-inner #page4-mid {
    height: 250px;
    width: 40%;
    margin-left: 1vw;
    margin-top: 2vw;
}

#page4-inner #page4-mid video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page4-inner #page4-bottom{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 160px;
    width: 98%;
    margin-left: 1vw;
    margin-top: 1vw;
}

#page4-inner #page4-bottom #section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90%;
    width: 29%;
    font-family: a;
    gap: 15px;
}

#page4-bottom #section h2 {
    font-size: 1.5vw;
    color: #000;
}

#page4-bottom #section a{
    text-decoration: none;
    font-size: 1.2vw;
    color: #7b8487;
}

#page4-inner #page4-end {
    height: 100px;
    width: 98%;
    margin-left: 1vw;
    margin-top: .5vw;
    font-family: a;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
}

#page4-inner #page4-end h2{
    color: #7b8487;
    font-size: 1vw;
}

#page4-inner #page4-end a{
    text-decoration: none;
    font-size: 1.3vw;
    color: #000;
}




@media (max-width: 1024px) {
    #page4 {
        width: 150vw;
        padding: 5vw;
    }

    #page4-inner #inner-up .inner-box1 h2 {
        font-size: 2.5vw;
    }

    #page4-inner #inner-up .inner-box1 a {
        font-size: 2vw;
    }

    #page4-inner #inner-up .inner-box2 h2 {
        font-size: 2.5vw;
    }

    #page4-inner #inner-up .inner-box2 a{
        font-size: 2vw;
    }

    #page4-inner #inner-up .inner-box3 h2 {
        font-size: 2.5vw;
    }

    #page4-inner #inner-up .inner-box3 a {
        font-size: 2vw;
    }

    #page4-inner #page4-mid {
        height: 650px;
        width: 70%;
    }

    #page4-bottom #section h2 {
        font-size: 2.5vw;
    }

    #page4-bottom #section a {
        font-size: 2vw;
    }

    #page4-inner #page4-end h2 {
        font-size: 2.5vw;
    }

    #page4-inner #page4-end a{
        font-size: 2vw;
    }

}


@media (max-width: 768px) {
    #page4 {
        height: 50vh;
        width: 215vw;
    }

    #page4-inner #inner-up .inner-box1 h2 {
        font-size: 3vw;
    }

    #page4-inner #inner-up .inner-box1 a {
        font-size: 2.9vw;
    }

    #page4-inner #inner-up .inner-box2 h2 {
        font-size: 3vw;
    }

    #page4-inner #inner-up .inner-box2 a{
        font-size: 2.9vw;
    }

    #page4-inner #inner-up .inner-box3 h2 {
        font-size: 3vw;
    }

    #page4-inner #inner-up .inner-box3 a {
        font-size: 2.9vw;
    }

    #page4-inner #page4-mid {
        height: 450px;
        width: 60%;
    }

    #page4-bottom #section h2 {
        font-size: 3vw;
    }

    #page4-bottom #section a {
        font-size: 2.9vw;
    }

    #page4-inner #page4-end h2 {
        font-size: 3vw;
    }

    #page4-inner #page4-end a{
        font-size: 2.9vw;
    }

}


@media (max-width: 390px) {
    #page4 {
        height: 55vh;
        width: 250vw;
    }

    #page4-inner #inner-up .inner-box1 h2 {
        font-size: 3.4vw;
    }

    #page4-inner #inner-up .inner-box1 a {
        font-size: 3.2vw;
    }

    #page4-inner #inner-up .inner-box2 h2 {
        font-size: 3.4vw;
    }

    #page4-inner #inner-up .inner-box2 a{
        font-size: 3.2vw;
    }

    #page4-inner #inner-up .inner-box3 h2 {
        font-size: 3.4vw;
    }

    #page4-inner #inner-up .inner-box3 a {
        font-size: 3.2vw;
    }

    #page4-inner #page4-mid {
        height: 450px;
        width: 60%;
    }

    #page4-bottom #section h2 {
        font-size: 3.4vw;
    }

    #page4-bottom #section a {
        font-size: 3.2vw;
    }

    #page4-inner #page4-end h2 {
        font-size: 3.4vw;
    }

    #page4-inner #page4-end a{
        font-size: 3.2vw;
    }

}